
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'base/images/neel.png' %}" alt="logo" width="70" height="70"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Milk</a></li>
              <li><a class="dropdown-item" href="#">Curd</a></li>
              <li><a class="dropdown-item" href="#">MilkShake</a></li>
              <li><a class="dropdown-item" href="#">Ghee</a></li>
              <li><a class="dropdown-item" href="#">Cheese</a></li>
              <li><a class="dropdown-item" href="#">Ice-cream</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">More...</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact Us</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Legolas
            </a>

            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Orders</a></li>
                <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>

        </li>
        <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white"> Cart 4</a>
        </li>
        <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white"> WishList</a>
        </li>
        <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white"> Login</a>
        </li>
        <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white"> Register</a>
        </li>

      </ul>
    </div>
  </nav>